.contact{
    padding: 100px;
    text-align: center;
     background-color: white;
}
.contact h1{
    font-size: 2.5rem;
    font-weight: 600;
}
.contact p{
    font-weight: 300;
}
.contact-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding-top: 50px;
}
.contact-card {
   width: 100%;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.232); 
   padding: 20px 40px;
   border-radius: 8px;
   flex: 1 1 200px;
}
.contact-card h2{
    border-bottom: 1px solid rgba(0, 86, 49, 0.236); 
    margin-bottom: 30px;
    font-weight: 500;
}
.contact-card p{
    color: #004718;
    display: flex;
    gap: 10px;
}

