.home {
   
    display: flex;
    
    flex-direction: column;
    align-items: center;
    

}
.services-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 20px;
  font-weight: 200;
  color: white;
  gap: 15px;
  padding: 0;
 justify-content: center;
}

.services-list li{
  position: relative;
  padding-right: 14px;
}

.services-list li:not(:last-child)::after{
  content: "|";
  position: absolute;
  right: 0;
  color: rgba(255,255,255,0.6);
}

.home-container {
   
    align-items: center;
   justify-content: center;
   padding: 200px;
   color: rgb(255, 255, 255);
  
}
.home-background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
   filter: brightness(.3);
}
.home-content{
   text-align: center; 
   margin: 0px 220px;
}
.home-content h1{
  font-size: 15px;
}
.home-content p{
  font-size: 50px;
  margin-top: -20px;
  left: 0;
}
.highlight{
  color: #00d146;
}


