.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   padding: 200px;
   color: rgb(255, 255, 255);
   
}
.home-background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
   filter: brightness(.4);
}

.home-content{
   text-align: center;
}
.home-content h1{
  font-size: 70px;
}
.home-content p{
  font-size: 20px;
  margin-top: -20px;
}
.highlight{
  color: rgb(84, 200, 84);
}
.faq{
  padding: 100px;
  display: flex;
  justify-content: center;
 text-align: center;
  gap: 5rem;
}

.faq-text h1{
  font-weight: 300;  
  font-size: 40px;
}
.faq-text h1 .q{
  font-weight: 700;
  color: rgb(40, 95, 40);
}
.faq-img img{
  width: 600px;
  height: auto;
}

