.services{
    width: 100%;
    text-align: center;
    background-color: white;
}
.services h1{
    font-size: 2.5rem;
    font-weight: 600;
}
.services-container{
 padding: 120px;
}
.services-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    gap:30px;
    margin-bottom: 30px;
}
.service-card{
    display: flex;
    padding:20px;
    background-color: #0199341c;
    border-radius: 10px;

    flex: 1 1 300px;   /* important */

    align-items: center;
    gap:20px;
    transition: all .3s ease;
}

.service-card:hover{
    transform: scale(1.05);

}

.service-details h3{
    display: flex;
    text-align: left;
}
.service-details p{
  text-align: left;
}
.service-icon{
    width: 90px;
    height: auto;
    color:#019934;
}
.service-list{
    display: flex;
    padding:20px;
    width:100%;
    align-items: center;
   gap:20px;
}
.otherservices{
    margin-top:100px;
    gap: 2rem;
    
}
.otherservices h2{
    font-weight: 500;
}
.otherservices-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    color: white;
   
}
.otherservice-card{
    flex: 1 1 300px;
    padding: 20px;
    background-color: #019934;
    border-radius: 10px;
    transition: transform 0.3s ease;
}


.otherservice-card:hover{
    transform: scale(1.06);
}

.otherservice-card h2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    position: relative;
}
.otherservice-card p{
    font-weight: 300;
}
.otherservice-card:hover h2{
    background: linear-gradient(
        120deg,
        #ffffff 0%, 
        #ffffff 40%,
        #3cff90 60%,
        #80ffa8 70%,
        #ffffff 100%
    );

    background-size: 200% auto;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: textShine 6s linear;
}

@keyframes textShine{
    from{
        background-position: -400% center;
    }
    to{
        background-position: 400% center;
    }
}
