.team{
    display: flex;
    flex-direction: column;
     background-color: white;
}
.team h2{
    font-size:2.5rem;
    text-align: center;
    font-weight: 600;
}
.team-container{
   display: flex;
   gap: 3rem;
   justify-content: center;
     padding: 50px;
 
  
}
.team-card {
  position: relative;
  width: auto;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.team-card:hover{
    transform: scale(1.05);
    
}

.team-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Fixed overlay */
.team-card .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, rgb(0, 161, 72),  rgba(0, 70, 32, 0));
  color: #ffffff;
  backdrop-filter: blur(90);
}

.team-card .overlay h3 {
  margin: 0 0 -5px 0;
  font-size: 1.1rem;
}

.team-card .overlay p {
  margin: 0 0 0px 0;
  font-size: 0.9rem;
}
