@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.topbar {
  width: 100%;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  margin-top: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  height: 70px;
  display: flex;
  align-items: center;   
  justify-content: center;
   z-index: 1;
   transition: all 0.5s ease;
}

.topbar.scrolled {
  width: 75%;
  height: 50px;
  background: linear-gradient(120deg, rgba(0, 0, 0, 0.393) 90%);
  border-radius: 20px;
  border-bottom: 0; 
}

.topbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar-container.scrolled{
  height: 40px;
}

.nav-links {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
}
.logo{
  position: absolute;
  left: 60px;
}
.logo li{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.logo img{
    width: 30px;
    height: auto;
}

.nav-links a:hover {
  color: #c2c2c2;
}
.facebook{
  position: absolute;
  right: 100px;

}
.facebook a{
  color: white;
  text-decoration: white;
  font-weight: 600;

}
