@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.topbar {
  width: 100%;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  margin-top: 15px;
  padding:10px 0px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.topbar.scrolled {
  width: 80%;
  padding: 5px 200px;
   background: linear-gradient(120deg, rgba(0, 0, 0, 0.393) 90%);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  border-bottom: 0px solid rgba(255, 255, 255, 0.2);
}

.topbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  gap: 3rem;
}

.nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
}

.logo li{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: white;
    font-weight: 600;
}
.logo img{
    width: 70px;
    height: 40px;
    margin-left: -250px;
    left: 0;
}

.nav-links a:hover {
  color: #c2c2c2;
}

